* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  user-select: none;
}

body {
  background: black;
  padding-top : 105px;
}

a {
  text-decoration: none;

}

main {
  position: relative;
}

main .container {
  padding: 5% 10%;
  width: 100%;
  height: 100%;
  background-color: #2E2E2E;
  display: flex;
}
.profile-contents{
    display : flex;
    width: 30%;
    justify-content:space-between;
}

.profile-box img{
    width:200px;
    height:200px;
    border-radius: 50%;
}




main .description h3 {
  margin: 0.5em 0;
  font-weight: lighter;
}

main .description h1 {
  margin: 0.5em 0;
  font-weight: bold;
  font-size: 60px;
}

main .description p {
  margin: 0.8em 0 2em 0;
  font-size: 20px;
}

section .content-list {
  margin-bottom: 3rem;
  position: relative;
  padding: 10px;
}

section .content-list h1 {
  margin-left: 2rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.content-list h1 {
  margin-left: 50px;
  margin-top: 30px;
}

/* wrapper에 이미지 크기 설정 */
.swiper-wrapper img {
  width: 100%;
  height: auto;
}

/* slider에 이미지 크기 설정 */
.swiper-slide img {
  width: 100%;
  height: auto;
}

.swiper-container {
  width: 90%;
  margin: 30px auto;
  position: relative;
  overflow: hidden;
}

.swiper-slide {
  position: relative;
}

.swiper-slide .slide-inner {
  position: relative;
  overflow: hidden;
  display: inline-block;
  padding: 20px;
}

.swiper-slide .slide-inner:hover img {
  transform: scale(1.3);
}

.swiper-slide img {
  max-width: 100%;
  max-height: 100%;
  transition: transform 0.3s ease;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  z-index: 10;
  transition: background-color 0.3s ease;
}


.review-list {
  padding: 50px;
}

.review-list h1 {
   margin-bottom: 20px;
}

section .review-list {
  margin-bottom: 3rem;
  position: relative;
  padding: 50px;
}


/* 리뷰 */
.review-swiper{
    width:300px !important;
    height:300px !important;
}

.review-container{
    width:100%;
    height:100%;
    background-color: #F2F2F2;
}
.review-profile{
    padding:10px;
    display:flex;
    width:100%;
    align-items:center;
    justify-content:space-between;
}
.review-profile-img{

    display:flex;
    align-items:center;
}
.review-profile-img img{
    width:30px;
    height:30px;
}

.review-profile-grade{
    display:flex;
    align-items:center;
}
.review-profile-grade img{
    width:30px;
    height:30px;
}
.review-text {
padding:10px;
    height:70%;
    width:100%;
}
.review-sym{
    padding:10px;
    width:100%;
}






/* 반응형 */

/* 창을 줄이면 내 정보글이 사라짐 */
@media screen and (max-width: 768px) {
  main .description h1 {
    display: none;
  }

  main .description h3 {
    display: none;
  }

  main .description p {
    display: none;
  }

}

