*{
  box-sizing: border-box;
}

 /* 메인페이지 스타일 */
 html {
  font-family: "Do Hyeon", sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
  background: linear-gradient(to top, rgb(153,153,153), rgb(9,2,2));
  height: 100%;
}
#main {
  margin-top: 100px;
}

#search {
  height: 100%;
}

/* 검색결과 텍스트 */
h2.searchResult{
  font-size: 40px;
  color: #fff;
  margin: 180px 0 50px 410px;
}

/* 검색 영화 목록 스타일 */
.genre{
  overflow: hidden;
  width: 1100px;
  margin: 50px auto;
  position: relative;
  padding-top: 10px;
}

.movie-img-box{

}

.movie-img-box img {
  width: 200px;
  height: 300px;
  border-radius: 7px;
  margin-left: 5px;

}
.movie-img-box p {
  text-align: center;
  color: #FDFDFD;
  margin-top: 10px;
  box-sizing: border-box;
}
.movie-img-box a img:hover {
  transform:scale(1.05);
}


/* 버튼 스타일 */
.btn button{
  border: 0;
  background-color: transparent;
}
.btn button span:hover {
  cursor: pointer;
  opacity: 1;
}

#main .btn .swiper-button-prev,
#main .btn .swiper-button-next {
  top: 50%;
  bottom: auto;
  color: white;
  opacity: 0.5;
}
#main .btn .swiper-button-prev{
  left: 20%;
}
#main .btn .swiper-button-next{
  right: 20%;
}
#main .btn .swiper-button-prev:hover,
#main .btn .swiper-button-next:hover {
  opacity: 1;
}


/* 장르 영화 버튼 스타일 */
#main .btn .list-next,
#main .btn .list-prev {
  top: 60%;
}
#main .btn .list-next{
  right: 0;
}
#main .btn .list-prev{
  left: 0;
}

/* 상단 이동 버튼 스타일 */
.up-btn {
  position: fixed;
  bottom: 30px;
  right: 2%;
  width: 50px;
  height: 50px;
  background-color: blue;
  text-align: center;
  line-height: 53px;
  border-radius: 50%;
  font-size: 25px;
  color: #fff;
}
.genre-movieNm{
  width: 200px;
}

