<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/main/resources/static/assets/css/reset.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">

    <style>
        .logo img {
            width: 40px;
        }
        .header-container {
            display: flex;
            width: 100%;
        }
    </style>

</head>
<body>
    <header>
        <div class="header-section">
            <div class="header-container">
                <div class="logo"><img src="/src/main/resources/static/assets/img/PopcornLogo.png" alt="moviemate로고"></div>
                <div>
                    <p>MyPage</p>
                    <p>로그아웃</p>
                </div>
                <div>메뉴창</div>
            </div>
        </div>
    </header>
</body>
</html>