<!doctype html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <title>Movie Mate</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="index.css">
    
</head>

<body>
    <nav>
        <div class="left">
            <div class="logo">
                <a href="#"><img src="./img/logoicon.png" alt="로고이미지"></a>
            </div>
            <ul class="menu-list">
                <li>
                    <a href="#">홈</a>
                </li>
                <li>
                    <a href="#">메뉴1</a>
                </li>
                <li>
                    <a href="#">메뉴2</a>
                </li>
                <li>
                    <a href="#">메뉴3</a>
                </li>
                <li>
                    <a href="#">마이페이지</a>
                </li>
            </ul>
        </div>
        <div class="right">
            <div class="icon search">
                <div class="search-bar">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" placeholder="검색창" />
                </div>
            </div>
            <div class="log-out">
                <a href="#">로그아웃</a>
            </div>
        </div>
    </nav>
    <main>
        <div class="container">
            <div class="description">
                <h3>abc1234@gmail.com</h3>
                <h1>무비메이트</h1>
                <p>님의 마이페이지</p>
            </div>
    </main>
    <section>
        <div class="content-list">
            <h1>내가 찜한 목록</h1>
            <div class="slider">
            </div>
            <div class="prev"><i class="fa-solid fa-angle-right prev-arrow"></i></div>
            <div class="next"><i class="fa-solid fa-angle-right"></i></div>
        </div>
        
        <div class="content-list">
            <h1>내가 쓴 후기</h1>
            
<hr class ="hr1" noshade> 
<br>
<table>
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>닉네임</th>
        <th>일시</th>
        <th>조회수</th>
    </tr>
    <tr>
        <td class="center">1</td>
        <td class="title">후기글 1 입니다.</td>
        <td class="center">홍길동</td>
        <td class="center">2024-04-16</td>
        <td class="center">0</td>   
    </tr>
    <tr>
        <td class="center">2</td>
        <td class="title">후기글 2 입니다.</td>
        <td class="center">김춘식</td>
        <td class="center">2024-04-16</td>
        <td class="center">0</td>   
    </tr>
    <tr>
        <td class="center">3</td>
        <td class="title">후기글 3 입니다.</td>
        <td class="center">라이언</td>
        <td class="center">2024-04-16</td>
        <td class="center">0</td>   
    </tr>
</table>
</br>

<div class="center" >
    <a href  = "https://www.naver.com/">◀ 이전</a> 
    <a href  = "https://www.naver.com/">1</a>
    <a href  = "https://www.naver.com/">2</a> 
    <a href  = "https://www.naver.com/">3</a>   
    <a href  = "https://www.naver.com/">다음 ▶</a>
</div>




</body>
</html>
        </div>

    </section>


    <script>
        
         const next = document.querySelectorAll('.next');
    const prev = document.querySelectorAll('.prev');
    const slider = document.querySelectorAll('.slider');

    for (let i = 0; i < slider.length; i++) {
        getMovies(slider[i], i + 1);
        makeSlider(slider[i], prev[i], next[i]);
    }

    function makeSlider(element, prev, next) {
        next.addEventListener('click', () => {
            const offsetX = element.offsetWidth;
            element.scrollBy(offsetX, 0);
        });
        prev.addEventListener('click', () => {
            const offsetX = element.offsetWidth;
            element.scrollBy(-offsetX, 0);
        });
    }

    function getMovies(element, page) {
        // 20개의 이미지 대신에 20개의 번호만 슬라이드에 추가
        for (let i = 1; i <= 20; i++) {
            const div = document.createElement('div');
            div.className = 'item';
            div.textContent = i;
            element.appendChild(div);
        }
    }

        

        

        
    </script>
</body>

</html>