<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <div class=e1_40>
    <div class=e1_41>
      <div class=e1_42>
        <div class=e1_43><span  class="e1_137">MovieMate
  </span>
          <div class=e1_45><span  class="e1_46">menu1</span><span  class="e1_47">menu2</span><span  class="e1_48">menu3</span></div>
        </div>
        <div class=e1_49>
          <div class=e1_50>
            <div class="ei1_50_45_9876"></div>
          </div>
          <div class=e1_51>
            <div class="ei1_51_45_6049"></div>
          </div>
        </div>
      </div>
      <div class=e1_52><span  class="e1_151">email@gmail.com</span><span  class="e1_153">username</span></div>
    </div>
    <div class=e1_87><span  class="e1_88">찜한 목록</span>
      <div class=e1_89>
        <div class=e1_90>
          <div class=e1_91>
            <div class=e1_92><span  class="ei1_92_168_5809">01</span></div>
            <div class="e1_93"></div>
          </div><span  class="e1_94">Oppenheimer</span>
        </div>
        <div class=e1_95>
          <div class=e1_96>
            <div class=e1_97><span  class="ei1_97_168_5809">02</span></div>
            <div class="e1_98"></div>
          </div><span  class="e1_99">SISU</span>
        </div>
        <div class=e1_100>
          <div class=e1_101>
            <div class=e1_102><span  class="ei1_102_168_5809">03</span></div>
            <div class="e1_103"></div>
          </div><span  class="e1_104">Chernobyl</span>
        </div>
        <div class=e1_105>
          <div class=e1_106>
            <div class=e1_107><span  class="ei1_107_168_5809">04</span></div>
            <div class="e1_108"></div>
          </div><span  class="e1_109">Stranger Things</span>
        </div>
        <div class=e1_110>
          <div class=e1_111>
            <div class=e1_112><span  class="ei1_112_168_5809">05</span></div>
            <div class="e1_113"></div>
          </div><span  class="e1_114">True Detective</span>
        </div>
        <div class=e1_115>
          <div class=e1_116>
            <div class=e1_117><span  class="ei1_117_168_5809">06</span></div>
            <div class="e1_118"></div>
          </div><span  class="e1_119">Star Wars</span>
        </div>
        <div class=e1_120>
          <div class=e1_121>
            <div class="e1_122"></div>
            <div class="e1_123"></div>
          </div>
        </div>
      </div>
    </div>
    <div class=e1_154><span  class="e1_155">후기 목록</span></div>
  </div>
  
</body>
</html>